#root {
  min-height: 100vh;
  min-width: 100vw;
}
body {
  background-color: #f0f8ff; /* Light blue background */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 10px;
    border: 1px solid black;
  }
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  height: 80%;
  margin: auto;
  height: 100%;
}

.title {
  color: #0077cc; /* Deep blue */
  margin-bottom: 40px;
}

.subtitle {
  color: #004b8d; /* Slightly darker blue */
  margin-bottom: 20px;
  text-align: center;
  margin-top: 0;
}

.input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #0077cc;
  border-radius: 5px;
  outline: none;
}

.button {
  background-color: #0077cc;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: #005999;
}

.text {
  margin-top: 15px;
  font-size: 14px;
  color: black;
}

.link-button {
  background: none;
  border: none;
  color: #0077cc;
  cursor: pointer;
  font-size: 14px;
  outline: none !important;
}

.link-button:hover {
  text-decoration: underline;
}

.home-container {
  display: flex;
  border: 1px solid magenta;
  width: 80vw;
  justify-content: space-between;
  margin: auto;
}

.user-list-container {
  width: 30%;
  margin-right: 20px;
  border: 1px solid lime;
  overflow: auto;
}

.post-list-container {
  width: 70%;
  overflow-y: auto;
  border: 1px solid cyan;
  overflow: auto;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}
