body {
  background: rgb(245, 133, 41);
  background: linear-gradient(
    90deg,
    rgba(245, 133, 41, 1) 0%,
    rgba(221, 42, 123, 1) 62%,
    rgba(81, 91, 212, 1) 100%
  );
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 10px;
    border: 1px solid rgb(164, 164, 164);
  }
}

.card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

.container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

.container {
  background: rgb(254, 218, 119);
  background: radial-gradient(
    circle,
    rgba(254, 218, 119, 1) 50%,
    rgba(245, 133, 41, 1) 100%
  );

  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 400px;
  height: 80%;
  margin: auto;
  height: 100%;
}

.title {
  color: #515bd4;
  margin-bottom: 40px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.subtitle {
  color: #8134af;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 0;
}

.input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #515bd4;
  border-radius: 5px;
  outline: none;
}

.button {
  background-color: #8134af;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: #532170;
}

.text {
  margin-top: 15px;
  font-size: 14px;
  color: black;
}

.link-button {
  background: none;
  border: none;
  color: #515bd4;
  cursor: pointer;
  font-size: 14px;
  outline: none !important;
}

.link-button:hover {
  text-decoration: underline;
}

.home-container {
  display: flex;
  width: 80vw;
  justify-content: space-between;
  margin: auto;
}

.user-list-container {
  width: 30%;
  margin-right: 40px;
  overflow: auto;
  height: calc(75vh);
}

.post-list-container {
  width: 70%;
  overflow-y: auto;
  overflow: auto;
  height: calc(75vh);
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}
