.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #515bd4;
  cursor: pointer;
}

.user-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #050d64;
}
